<% layout('layouts/boilerplate') %>
<div class="row mt-3">
  <div class="card p-0 col-md-8 mx-auto">
    <img
      src="<%= result.image %>"
      class="card-img-top"
      alt="<%= result.name %>"
    />
    <div class="card-body">
      <h5 class="card-title"><%= result.name %></h5>
      <p class="card-text"><%= result.description %></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= result.location %></li>
        <li class="list-group-item">$<%= result.price %>/Night</li>
      </ul>
      <form
        class="d-flex"
        action="/campgrounds/<%= result._id %>/comments"
        method="post"
      >
        <input
          type="text"
          class="form-control"
          placeholder="Type Your Review . . ."
          name="comment"
          required
        />

        <input
          type="text"
          class="form-control mx-2"
          placeholder="Your Name"
          name="author"
          required
        />

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Review
        </button>
      </form>

      <a href="/campgrounds/<%= result._id %>/edit" class="btn btn-success"
        >Edit Camp</a
      >
      <form
        class="d-inline"
        action="/campgrounds/<%= result._id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-danger">Delete</button>
      </form>

      <% result.comments.forEach(comment => { %>
      <div class="row mt-3">
        <div class="col-md-12">
          <span class="authorname"> <%= comment.author %> </span>
          <span class="float-right text-end">10 Days</span>
          <p><%= comment.text %></p>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
