<%- include('partials/header') %> <%- include('partials/nav') %>

<div class="container">
  <header class="centered jumbotron">
    <div class="container">
      <h1>Welcome to CampFinder</h1>
      <p>Locate Camps across the Globe with just a click</p>
      <a class="btn btn-primary" href="/campgrounds/new"> Add New Camp</a>
    </div>
  </header>
  <div class="centered">
    <div class="container">
      <div class="row">
        <% Camps.forEach(camp => { %>
        <div class="eachCamp img-thumbnail col-lg-4 col-md-6">
          <img src="<%=camp.image %>" alt="<%=camp.name %>" />
          <p class="captionText"><%= camp.name %></p>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
