<%- include('partials/header') %>
<div class="container">
  <div>
    <h1><%=result.name %></h1>
  </div>
  <div class="centered img-thumbnail">
    <img
      class="showImage"
      src="<%= result.image %>
    "
      alt="<%= result.name %>"
    />

    <caption>
      <p class="descTitle">Description :</p>
      <p class="captionText"><%= result.description %></p>
      <% result.comments.forEach(comment => { %>
      <p><strong><%= comment.author %> : </strong> <%= comment.text %></p>
      <% }) %>
    </caption>
  </div>
</div>

<%- include('partials/footer') %>
